/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

h1 {
	text-align: center;
}

 img {
	 border-radius: 50%;
	 float: left;
	 margin-right: 20px;
 }

.tym {
display: flex;
justify-content: flex-start;
align-items: stretch;
flex-wrap: wrap;
}

.clenka{
	border-color: grey;
	border-radius: 1em;
	border:1px;
	border-style: solid;
	box-shadow: 0 2px 4px rgba (0, 255, 255, 0.15);
	text-align: center;
	padding: 20px;
	margin: 10px;
	flex-grow: 1;
	min-width: 250px;
}

@media (min-width: 540px) {
	.tym {
		flex-wrap: wrap;
	}
	.clenka{
		text-align: left;
		width: calc( (100% - 40px)/2);
	}
	}

@media (min-width: 960px) {
 img{
	 float:none;
 }
 .tym{
	 flex-wrap: nowrap;
 }
 .clenka {
	 display:block;
	 text-align: centre;
	 width: calc( (100% - 80px) / 4);
 }
}